﻿<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <div class="navbar-brand-box">
            <a href="index.html" class="logo">
                              
                <span>
                    MongoDbProject
                </span>
            </a>
        </div>

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title">Menü</li>


                <li><a href="/Default/Index/" class="waves-effect"><i class="fas fa-home"></i><span>Dasboard</span></a></li>
                <li><a href="/Category/CategoryList/" class="waves-effect"><i class="fas fa-align-justify"></i><span>Kategoriler</span></a></li>
                <li><a href="/Product/ProductList/" class="waves-effect"><i class="fas fa-leaf"></i><span>Ürünler</span></a></li>
                <li><a href="/Customer/CustomerList/" class="waves-effect"><i class="fas fa-address-card"></i><span>Müşteriler</span></a></li>
                <li><a href="/Order/OrderList/" class="waves-effect"><i class="fas fa-bell"></i><span>Siparişler</span></a></li>
                <li><a href="/Report/Index/" class="waves-effect"><i class="fas fa-archive"></i><span>Raporlar</span></a></li>

                <li><a href="/Login/SignOut/" class="waves-effect"><i class="fas fa-window-close"></i><span>Çıkış Yap</span></a></li>
            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>